@import 'variables';

.navbar-brand {
  padding: $navbar-padding-y;
  display: flex;
  align-items: center;
  cursor: pointer;
  vertical-align: middle;

  img {
    height: 1.5rem;
  }
}

.fullName {
  justify-content: center;
  flex-grow: 4;
  align-items: center;
  cursor: unset;
}

a{
  cursor: pointer;
}
