<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <span class="navbar-brand" routerLink="/">
    <img src="assets/img/favicon/icon-trim.png" alt="icon">
    &nbsp;
    {{title}}
  </span>
  <span class="navbar-brand fullName">{{fullName}}</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
          aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" *ngIf="name">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="name+'/upload'">投稿</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           *ngIf="router.url.includes('upload')"
           (click)="setLiveUpdate(true)">投稿預覧</a>
      </li>
      <li class=" nav-item">
        <a class="nav-link"
           *ngIf="router.url.includes('liveUpdate')"
           (click)="setLiveUpdate(false)">回正式版</a>
      </li>
    </ul>
  </div>
</nav>
