@import 'variables';

.navbar {
  padding: 0;

  &-brand {
    padding: $navbar-padding-y;
    display: flex;
    align-items: center;
    cursor: pointer;
    vertical-align: middle;

    img {
      height: 1.5rem;
    }

    @media only screen and (max-width: 425px) {
      padding: 0.2rem;
    }
  }

  &-nav {
    flex-direction: row-reverse;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    min-width: fit-content;

    .nav-link {
      padding-left: 0.5rem;
    }
  }
}

.fullName {
  justify-content: center;
  flex-grow: 4;
  align-items: center;
}

a {
  cursor: pointer;
}

.pulse {
  animation: pulse 1s infinite ease-in-out alternate;
}

@keyframes pulse {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1.2);
  }
}

input {
  border: 0;
  width: 10em;
}
