@import 'variables';

.navbar {
  display: flex;
  padding: 0;

  &-brand {
    padding: $navbar-padding-y;
    display: flex;
    align-items: center;
    cursor: pointer;
    vertical-align: middle;
    min-height: 3rem;

    img {
      height: 1.5rem;
    }

    @media only screen and (max-width: 425px) {
      padding: 0.2rem;
    }
  }

  &-nav {
    flex-direction: row-reverse;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    min-width: fit-content;

    .nav-link {
      padding-left: 0.5rem;
    }
  }

  .fullName {
    justify-content: center;
    flex-grow: 4;
    align-items: center;
    margin: unset;
  }

  a {
    cursor: pointer;
  }

  input {
    // border: 0;
    width: 25vw;
    border-radius: 0.375rem;
    transition: width 0.2s ease;

    &:focus {
      width: 50vw;
    }
  }
}
