<footer>
  <div class="logo" title="Project Github">
    <a
      href="https://github.com/sound-buttons"
      target="_blank"
      rel="noreferrer noopener"
      class="support"
    >
      <img src="assets/img/favicon/icon-trim.png" alt="icon" width="100" />
      <p>Sound Buttons</p>
    </a>
  </div>
  <div class="license" title="Project Licensed">
    <a
      href="https://github.com/sound-buttons/sound-buttons/blob/master/LICENSE"
      target="_blank"
      rel="noreferrer noopener"
      class="support"
    >
      <img src="assets/img/AGPLv3_Logo.svg" alt="agpl" />
    </a>
  </div>
  <div class="badge" title="Total Clicks">
    <div class="circle"><i class="bi bi-hand-index-thumb"></i></div>
    <div class="ribbon">{{ clicks }}</div>
  </div>
  <div class="copyright">
    <p>{{ copyText + ' | Total ' + clicks + ' Clicks' }}</p>
  </div>
</footer>
