@import 'variables';

.control-container {
  position: fixed;
  bottom: 0;
  left: 0;
  height: $footer-height;
  width: 100%;
  background-color: $white;

  border-width: thick;
  border-top-style: double;
  border-right: none;
  border-color: var(--bs-primary);
  border-radius: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1vw;
  overflow-x: hidden;

  padding: 0 1vw;

  z-index: 100;
}

i {
  font-size: x-large;
  color: var(--bs-primary);
  border-width: 2px;
  padding: 0 3px;
  align-self: center;
  width: 36px;
  text-align: center;

  &.clickable:active {
    transform: translateY(0.1em);
  }

  &.bi-trash3{
    font-size: large;
  }
}

input {
  width: 10vw;
  height: 15px;
  min-width: 150px;
}

.buttonContainer{
  width: -webkit-fill-available;
  height: 100%;
  overflow: hidden;
  display: flex;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.btn {
  cursor: pointer;
  outline: none;
  border-radius: 0.3rem;
  border: none;
  margin: 0.3em;

  min-width: fit-content;
  text-wrap: nowrap;

  &:active {
    transform: translateY(0.3em);
  }
}
