<div class="control-container">
  <i role="button" class="bi bi-stop-fill clickable" (click)="OnStopClick()"></i>
  <i role="button" class="bi bi-skip-forward-fill clickable" (click)="OnFastClick()"></i>
  <i role="button" class="bi bi-arrow-repeat clickable" (click)="OnRecover()"></i>
  <i role="button" class="bi bi-skip-backward-fill clickable" (click)="OnSlowClick()"></i>
  <i class="bi bi-volume-up"></i>
  <input
    type="range"
    min="0"
    max="1"
    step="0.01"
    [value]="volume"
    (change)="OnVolumeChange($event)"
  />
</div>
