@import 'variables';

.control-container {
  position: fixed;
  bottom: calc(3rem - 1px);
  left: 0;
  width: 80px;
  height: 200px;
  background-color: $white;

  border-width: thick;
  border-top-style: double;
  border-right-style: double;
  border-color: var(--bs-primary);
  border-radius: 0 20px 0 0;

  text-align: center;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

i {
  font-size: 30px;
  color: var(--bs-primary);
  border-width: 2px;
  padding: 0 3px;
  align-self: center;
  cursor: pointer;
}

input {
  grid-row: 1/ span 4;
  width: 180px;
  height: 15px;
  margin: 0px 10px 10px -160px;
  transform: rotate(270deg);
  transform-origin: right;
}

@media only screen and (max-width: 767px) {
  .control-container {
    bottom: 0;
    height: $footer-height * 2;
    width: 100%;
    border-right: none;
    border-radius: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: row;
  }

  input {
    margin: 10px;
    transform: rotate(0deg);
    grid-column: auto/span 4;
    grid-row: auto;
    width: calc(100% - 20px);
  }
}
