<div class="container">
  <div class="row" *ngIf="config">
    <div class="col-12 col-md-4 min-h-100">
      <app-introduction
        [imgs]="config.imgSrc"
        [intro]="config.intro"
        [link]="config.link"
        [button]="config.introButton"
      ></app-introduction>
    </div>
    <div class="col-12 col-md-8">
      <app-sound-buttons
        *ngIf="config.buttonGroups"
        [buttonGroups]="config.buttonGroups"
      ></app-sound-buttons>
    </div>
  </div>
</div>
<app-audio-control></app-audio-control>
