@import 'variables';

.container {
  margin: 5px;
  overflow-y: auto;
}

.btn {
  cursor: pointer;
  outline: none;
  border-radius: .3rem;
  border: none;
  margin: 0.3em;

  &:hover {
    background-color: var(--bs-secondary);
  }

  &:active {
    background-color: var(--bs-primary);
    transform: translateY(.3em);
  }
}

.youtubeContainer{
  display: block;
  width: 60vh;
  height: 33.75vh;
  max-width: 100%;
  margin: 10px;
  background: var(--bs-secondary);

  display: flex;
  justify-content: center;
  align-items: center;
    font-size: xx-large;
color: $white;
}
