@import 'variables';

.container {
  margin: 5px;
  overflow-y: auto;
  height: calc(100% - 33.75vh);
  @media only screen and (max-width: 767px) {
    margin-bottom: $footer-height;
  }
}

.btn {
  cursor: pointer;
  outline: none;
  border-radius: .3rem;
  border: none;
  margin: 0.3em;

  &:active {
    background-color: var(--bs-primary);
    transform: translateY(.3em);
  }
}

@media only screen and (min-width: 1023px) {
  .card-body {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(auto-fit, 1em);
  }
}
