@import 'variables';

.container {
  margin: 5px;
  overflow-y: auto;
  height: calc(100% - 34.75vh);

  @media only screen and (max-width: 767px) {
    margin-bottom: $footer-height + 1;
  }
}

.btn {
  cursor: pointer;
  outline: none;
  border-radius: 0.3rem;
  border: none;
  margin: 0.3em;

  &:active {
    transform: translateY(0.3em);
  }
}

@media only screen and (min-width: 1200px) {
  .card-body {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(auto-fit, 1em);
  }
}

.alert {
  @include border-radius(true, var(--#{$prefix}alert-border-radius));
}
