@import 'variables';

.container {
  margin: 5px;
  overflow-y: auto;
}

.btn {
  cursor: pointer;
  outline: none;
  border-radius: .3rem;
  border: none;
  margin: 0.3em;

  &:hover {
    background-color: $secondary;
  }

  &:active {
    background-color: $primary;
    transform: translateY(.3em);
  }
}

iframe{
  max-width: 53vh;
  max-height: 30vh;
  margin: 10px;
}
