<div class="youtubeContainer mx-auto"
     *ngIf="!youtubeEmbedLink" i18n>來源影片預覧</div>
<iframe *ngIf="youtubeEmbedLink"
        [src]="youtubeEmbedLink"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        class="youtubeContainer mx-auto"></iframe>

<div class="container" role="main">
  <div class="card border-primary mb-3"
       *ngFor="let buttonGroup of buttonGroups">
    <div class="card-header">{{buttonGroup.name}}</div>
    <div class="card-body">
      <button type="button" class="btn btn-primary"
              *ngFor="let btn of buttonGroup.buttons"
              (click)="buttonClick($event,btn)">
        {{btn.text}}
      </button>
    </div>
  </div>
</div>
