<div class="youtubeContainer mx-auto" *ngIf="!youtubeEmbedLink && displaySet === 0" translate>
  來源影片預覧
</div>
<iframe
  *ngIf="youtubeEmbedLink && displaySet === 0"
  [src]="youtubeEmbedLink"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  class="youtubeContainer mx-auto"
></iframe>

<div class="container" role="main" [class.h-100]="displaySet === 1">
  <div *ngFor="let buttonGroup of buttonGroups | buttonFilter: filterText">
    <div
      class="card border-primary mb-3"
      *ngIf="buttonGroup.buttons.reverse().length !== 0"
      [attr.count]="buttonGroup.buttons.length"
    >
      <div class="card-header">{{ buttonGroup.name }}</div>
      <div class="card-body">
        <button
          type="button"
          class="btn btn-primary"
          *ngFor="let btn of buttonGroup.buttons"
          (click)="buttonClick($event, btn)"
          [style.gridColumn]="'auto/span ' + gridColumnLen(btn.text)"
          [contextMenuTrigger]="menu"
          [menuContext]="btn"
        >
          {{ btn.text }}
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="isFilteredEmpty()">
    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <i class="bi bi-exclamation-triangle-fill"></i>
      <div translate>沒有符合條件的按鈕</div>
    </div>
  </div>
</div>
