@import 'variables';

.container {
  height: min(666px, 131vh);
}

app-chara-image {
  height: 70%;
}

#linkIcon-container {
  position: absolute;
  right: 0;
  width: 15%;
  margin: 0 auto;
  text-align: center;
  z-index: 1;

  img {
    max-height: 100%;
    max-width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
    transition-property: margin, width;
    transition-duration: 0.3s;

    &:hover {
      width: 100%;
      margin: unset;
    }
  }
}

.btn {
  position: absolute;
  top: -2.5em;

  cursor: pointer;
  border-radius: 0.3rem;
  border-color: var(--bs-primary);
  border-width: 1px;

  &:active {
    // background-color: var(--bs-secondary);
    transform: translateY(0.3em);
  }
}

.notice {
  display: block;
  width: 60vh;
  max-width: 100%;
  padding: 3vh;
  margin: 2vh auto;
  background: var(--bs-secondary);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  color: $white;
  text-align: center;

  .btn {
    position: unset;
    top: unset;
    margin-top: 2vh;
  }
}

.info {
  padding: 0 1rem;
}

p {
  white-space: pre-wrap;
  padding-top: 1rem;
}
