img {
  max-height: 100%;
  max-width: 100%;

  &#chara {
    max-height: 70%;
    filter: drop-shadow(2px 6px 3px rgba(0, 0, 0, 0.4));
  }
}

a#youtube {
  position: absolute;
  right: 0;
  width: 10%;
}
