button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  border-radius: 10px;
  font-size: 18px;

  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background: color-mix(in srgb, currentColor 30%, rgba(255,255,255, 0.25));
  color: var(--bs-primary);

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s, visibility 0.25s;
}
