@import 'variables';

.container {
  margin: 3vh auto;
  height: calc(94vh - 100px);
}

.ng-invalid {
  border-left-width: 5px;
  border-left-color: $danger;
}

.youtubeContainer {
  width: 60vw;
  height: 33.75vw;
  font-size: x-large;
  max-height: calc(100vh - 20rem);
}

@media only screen and (max-width: 768px) {
  .container {
    height: unset;
  }

  .youtubeContainer {
    width: 80vw;
    height: 45vw;
    font-size: medium;
  }
}
