@import 'variables';
.container {
  margin: 3vh auto;
  height: calc(94vh - 100px);
}

@media only screen and (max-width: 768px) {
  .container {
    height: unset;
  }
}

form > div > label{
  position: relative;

  & > .star{
    position: absolute;
    left: -1em;
  }
}
