/* You can add global styles to this file, and also import other style files */


/* Bootswatch - Pulse
   https://bootswatch.com/
*/

@import 'variables';
@import '~ngx-toastr/toastr';
@import '../node_modules/bootstrap/scss/bootstrap';
@import 'bootswatch';

:root{
  --bs-primary: #000000;
  --bs-secondary: #777777;
}

.bg-primary {
  background-color: var(--bs-primary) !important;
}

.btn {
  &-primary,
  &-primary:disabled,
  &-primary:hover,
  &-primary:focus,
  &-primary:active,
  &-primary.active {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }

  &-secondary,
  &-secondary:disabled,
  &-secondary:hover {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
  }

  &:hover{
    filter: brightness(1.5);
  }
}

.border-primary {
  border-color: var(--bs-primary) !important;
}
.form-control:focus{
  border-color: var(--bs-primary);
}

.youtubeContainer {
  display: block;
  width: 60vh;
  height: 33.75vh;
  max-width: 100%;
  margin: 10px;
  background: var(--bs-secondary);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: $white;
  text-align: center;
}
