@import 'variables';

h2,
app-chara-image {
  z-index: 4;
  margin: auto;
}

h2 {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10%;
  left: 0;
  line-height: 140%;
  transition-property: font-size;
  transition-duration: 0.3s;
  z-index: 5;
  text-shadow: 1px 1px 1px $white, 0 0 5px $white, 0 0 10px $white, 0 0 15px $white, 0 0 40px $white,
    0 0 70px $white;
}

app-chara-image {
  width: inherit;
  height: inherit;
  transition-property: width;
  transition-duration: 0.3s;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  transform-origin: top right;
  // margin-top: 0;
  padding-bottom: 20vw;
  margin: 15px auto 0;

  @include media-breakpoint-up(md) {
    transform: skewY(-4.398705355deg);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3vw;
    padding-left: 9.5vw;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2vw;
    padding-left: 7vw;
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2vw;
    padding-left: 6vw;
  }

  @media (min-width: 1600px) {
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2vw;
    padding-left: 0;
  }
}

.chara-card {
  transform-origin: top left;
  z-index: 1;
  transition-property: z-index, top;
  transition-duration: 0.3s;
  padding: 5% 0;
  margin: 0 auto;
  cursor: pointer;

  width: 260px;

  will-change: z-index, top;
  &:hover {
    z-index: 4;
    top: 64%;
  }

  &:hover .details {
    @include media-breakpoint-up(md) {
      transform: rotate(-14.03624deg) translate(5.5%, 15%) scale(1.5);
    }
  }

  img {
    will-change: width;
  }
  &:hover img {
    width: 100%;
  }

  h2 {
    will-change: font-size;
  }
  &:hover h2 {
    font-size: 2.4rem;
  }

  @include media-breakpoint-up(md) {
    transform: skewY(4.398705355deg) rotatez(14.03624deg);
    margin: 0;
    padding: 0 0 10% 0;
  }
}

.details {
  position: relative;
  z-index: 2;
  width: inherit;
  height: 50vh;
  top: 0;
  border-radius: 2vw;
  box-shadow: inset 0px 0px 0px 0.2vw #ffffffb2;
  box-sizing: border-box;
  filter: drop-shadow(2px 6px 3px rgba(0, 0, 0, 0.4));
  transform: rotate(0deg) translate(0, 0);
  transition-property: transform;
  transition-duration: 0.3s;
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  will-change: transform;

  @include media-breakpoint-up(md) {
    margin-left: unset;
  }

  .background {
    background-color: var(--bs-secondary);
    opacity: 0.1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

:host(app-home-page) {
  width: calc(100vw - 18px);
  overflow: hidden;
  display: block;

  @media (hover: none) {
    width: 100vw;
  }
}
