@import 'variables';

h2,
img {
  z-index: 4;
  margin: auto;
}

h2 {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10%;
  left: 0;
  line-height: 140%;
  transition-property: font-size;
  transition-duration: .3s;
  z-index: 5;
  text-shadow:
    1px 1px 1px $white,
    0 0 5px $white,
    0 0 10px $white,
    0 0 15px $white,
    0 0 40px $white,
    0 0 70px $white;
}

img {
  width: 80%;
  transition-property: width;
  transition-duration: .3s;
}

.outer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.inner {
  overflow-y: scroll;
  /* Increase/decrease this value for cross-browser compatibility */
  padding-right: 17px;
  /* So the width will be 100% + 17px */
  box-sizing: content-box;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.container {
  height: calc(100vh - 2.6rem);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  transform-origin: top right;
  // margin: 0 6.4vw 0 28%;

  @include media-breakpoint-up(md) {
    height: calc(100vh - 5.5rem);
    transform: skewY(-4.398705355deg);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3vw;
    margin: 0 3.9vw 0 15vw;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2vw;
    margin: 0 2.8vw 0 10vw;
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5vw;
    margin: 0 2.2vw 0 8vw;
  }

  @include media-breakpoint-up(xxl) {
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1vw;
    margin: 0 1.8vw 0 6.5vw;
  }

  // @media (min-width:1600px) {
  //   grid-template-columns: repeat(6, 1fr);
  //   grid-column-gap: 1vw;
  //   margin: 0 1.5vw 0 5.5vw;
  // }

}

.chara-card {
  transform-origin: top left;
  z-index: 1;
  transition-property: z-index, top;
  transition-duration: .3s;
  padding: 5%;

  &:hover {
    z-index: 4;
    top: 64%;
  }

  &:hover .details {
    @include media-breakpoint-up(md) {
      transform: rotate(-14.03624deg) translate(5.5%, 15%) scale(1.5);
    }
  }

  &:hover img {
    width: 100%;
  }

  &:hover h2 {
    font-size: 2.5rem;
  }

  @include media-breakpoint-up(md) {
    transform: skewY(4.398705355deg) rotatez(14.03624deg);
    margin: 0;
    padding: 0 0 10% 0;
  }

}

.details {
  position: relative;
  z-index: 2;
  width: 95%;
  height: 50vh;
  top: 0;
  border-radius: 2vw;
  box-shadow: inset 0px 0px 0px 0.2vw #ffffffb2;
  box-sizing: border-box;
  webkit-filter: drop-shadow(2px 6px 3px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(2px 6px 3px rgba(0, 0, 0, 0.4));
  transform: rotate(0deg) translate(0, 0);
  transition-property: transform;
  transition-duration: .3s;
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-items: center;

  margin-left: auto;

  @include media-breakpoint-up(md) {
    margin-left: unset;
  }

  .background {
    background-color: var(--bs-secondary);
    opacity: 10%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
