<div class="container">
  <div class="row">
    <div class="col" *ngFor="let config of configs$ | async; let i=index">
      <div class="card bg-dark text-white">
        <img [src]="config.imgSrc" class="card-img">
        <div class="card-img-overlay">
          <h5 class="card-title">{{config.name}}</h5>
          <p class="card-text">{{config.intro}}</p>
          <button type="button" class="btn btn-primary"
                  (click)="config.introButton.click($event)">
            {{config.introButton.text}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
